.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 2%;
  white-space: nowrap;
}

.nameAndTitle {
  display: flex;
  flex-direction: row;
  width: 20%;
  margin-left: 3%;
  justify-content: space-around;
  align-items: center;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.companyIcon {
  width: 15px;
  height: 15px;
}

.name {
  font-weight: bold;
  font-size: large;
  margin-left: 5%;
}

.divider {
  font-weight: lighter;
}

.title {
  font-weight: 250;
  font-size: small;
  white-space: nowrap;
}

.tiles {
  display: flex;
  flex-direction: row;
}

.hamburgerMenu {
  display: none;
}

@media (max-width: 600px) {
  .divider {
    display: none;
  }

  .title {
    display: none;
  }

  .nameAndTitle {
    width: auto;
  }
}