.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  white-space: nowrap;
}

.nameAndTitle {
  display: flex;
  flex-direction: row;
  width: 30vh;
  margin-left: 3%;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.companyIcon {
  width: 15px;
  height: 15px;
}

.name {
  font-weight: bold;
  font-size: large;
  /* margin is just if there is a company icon */
  /* margin-left: 5%; */
}

.divider {
  font-weight: lighter;
  margin: 0vh 3vh 0vh;
}

.title {
  font-weight: 250;
  font-size: small;
  white-space: nowrap;
}

.tiles {
  display: flex;
  flex-direction: row;
}

.hamburgerMenu {
  display: none;
}

@media (max-width: 600px) {
  .divider {
    display: none;
  }

  .title {
    display: none;
  }

  .nameAndTitle {
    width: auto;
  }
}