.container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4eee1;
}

.resumeImage {
  width: 52rem;
  height: 80rem;
  overflow-y: hidden;
}